.footer{
    width: 200.5vh;
    margin-top: 20px;
    color: rgb(103, 102, 102);
    &_wrapper{
        width: 100%;
        box-shadow: 0 0 5px rgb(163, 162, 162);
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}